/*globales*/
*::after,
*::before,
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}




body { 

    min-width: 720px;
    min-height: 100%;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 100px;
    background-size: cover;
    background-image: url("Background.png");
    background-color: #2B1744;

}



header {   

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ff5bf7;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: unset;
    justify-content: space-between;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;

    h1 {
        
        text-align: center;
        width: 100%;
       /* max-width: 570px;*/
        height:40%;
        padding: 1px;
        margin: 10px;
        
    }

    h2 {
        text-align: center;
        width: 100%;
        /*max-width: 570px;*/
        height:30%;
        padding: 1px;
        margin: 10px;

        
        
    }

    h3 {
        text-align: center;
        width: 100%;
        /*max-width: 570px;*/
        height:45%;
        padding: 1px;
        margin: 10px;

        
    }

   #h3-2 {
        text-align: center;
        width: 100%;
        /*max-width: 570px;*/
        height:45%;
        padding: 1px;
        margin: 10px;

        
    }

    video {
    
    width: 100%;
    
    max-width: 600px;
    border: 2px solid #000000; 
    background-color: #000000;
    }
}

nav {

    position: fixed;
    top: 0;
    z-index: 1000;
    max-width: 100%;
    max-height: 100px;
    width: 99%; 
    height: auto;
    background-color:  #2B1744;

    display: flex;
    justify-content: space-around;

    
}

.navegador {

    display: flex;
    justify-content:center ;
    margin: 0px;
    

}

.navegador li {

    margin: 20px;
    color: #2B1744;
}

.navegador img {
    max-width: 100%;
    max-height: 60px;
    width: auto; 
    height: auto; 
    transition: all .5s;
}  

.navegador img:hover{

    transform: scale(1.2);

}

/*=======================CARRITO DE COMPRAS =========================*/

.iconos {
        
    display: flex;
    flex-direction: column ;
    align-items: center;
    margin: 20px;
    max-height: 60px;
    transition: all .5s;
    position: relative;
}

.icon-cart {

    color: #ff5bf7;
    cursor: pointer;

}

.cuenta-productos {

    position: absolute;
    top: 5px;
    right: 14px;

    background-color: #000000;
    color: #ff5bf7;
    width: 20px;
    height: 20px;
    

    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;



}

#contador-productos{

    font-size: 18px;

}

.contenedor-productos-carrito {

    position: absolute;
    top: 90px;
    background-color: #c0a1ff;
    right: 10px;
    width: 400px;

    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.20);

}

.icon-close{

    width: 25px;
    height: 25px;
    
}

.icon-close:hover {

    color: #9b0303;
    cursor: pointer;

}


.productos-carrito {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0,0,0,0.20);

}



.info-productos-carrito {

    display: flex;
    justify-content: space-between;
    flex: 0.8;
    

}

.cantidad-producto {

    font-weight: 400;
    font-size: 20px;

}

.precio-producto {

    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;

}

.carrito-total {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;

}

.carrito-total h3 {

    font-size: 20px;
    font-weight: 700;

}

.total-pagar {

    font-size: 20px;
    font-weight: 900;    

}

.hidden-carrito {

    display: none;

}

.iconos:hover { 
    
    transform: scale(1.2);

    .icon-cart {

        color: #fb2ff1;
        
    }
}



/*====================================================================*/

@media screen and (max-height:600px){

    nav{

        max-height: 23% ; 

        ul{

            li{

                img{
                    
                     max-height: 60%;

                }
            }
        }
    }
}

/*=============================PRODUCTOS===================================*/

.productos {

    display: grid;
    grid-template-columns: repeat(4,1fr );
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    
    
}  

.item {

    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s;
}
    
.item img {

    width: 400px;
    height: 400px; 
    object-fit: scale-down;
    border-radius: 10px 10px 0 0;
    
    
}

.item:hover{

    box-shadow: 0 10px 20px rgb(221, 79, 243);
    transform: translateY(-10px);

}

        
.descripcion {

    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-shadow: -1px 0 rgb(136, 136, 136), 0 1px rgb(136, 136, 136), 1px 0 rgb(136, 136, 136), 0 -1px rgb(136, 136, 136);
  
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px 30px ;

}
            
.precio {

    display: flex;
    flex-direction: column;
    align-items: center;
}            
.precio button {

    padding: 10px;
    margin: 10px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-shadow: -1px 0 rgb(136, 136, 136), 0 1px rgb(136, 136, 136), 1px 0 rgb(136, 136, 136), 0 -1px rgb(136, 136, 136);
    background-color:  rgb(136, 136, 136) color(rgb red green blue);
    border: 2px solid #000000; 
    cursor: pointer;

}

.precio button:hover { 
        background-color: rgb(249, 86, 255);
}

            
        
    
    

@media screen and (max-width: 1300px) {
    .item {
        width: 100%;
    }

    .productos {

        display: grid;
        grid-template-columns: repeat(2,1fr );
        gap: 20px;
        padding: 20px;
        max-width: 100%;

    }
}




review {

    width: 100%;
    height: 10%;
    padding: 1px; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1%;
    
    cards {

        display: flex;
        flex-direction: column;
        justify-content:center;
        
        
        padding: 3%;
        box-shadow: 10px 10px #221235;
        background-color: #4c3678;
        
        margin: 2.5%;
        
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-size:150%;
        color: #ff5bf7;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: auto;
        transition: all .5s;

    
    }

    cards:hover{

        box-shadow: 0 10px 20px rgb(221, 79, 243);
        transform: translateY(-10px);

    }
    
}

@media screen and (max-width: 1000px) {
    review {    
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

servicios {

    width: 96.5%;
    height: 200%;
    padding: 1%;
    background-color: #4c3678;
    margin: 1%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content:center;


    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #ff5bf7;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;


    form {
        width:50%;
        display: flex;
        flex-direction: column;
    }

}

footer {

    width: 96.5%;
    height: 10%;
    padding: 1%;
    background-color: #8C52FF;
    margin: 1%;
    display: flex;
    justify-content:space-evenly;

    

    contacto {

        display: flex;
        justify-content:center;
       
    }

    seguinos {

        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        

        icons {

            display: flex;
            justify-content:space-evenly;
            gap: 40px;

        }

    }
}

